.cover__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    padding: 32px 0 245px 0;
    color: #fff;
    max-width: 360px;
    z-index: 1;
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
        padding: 32px 332px 195px 332px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        padding: 32px 204px 115px 204px;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        padding: 16px 16px 33px 16px;
    }
}