.lead__title {
    width: 720px;
    height: 200px;
    margin: 0;
    text-align: center;
    padding-top: 56px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

@media screen and (max-width: 767px) {
    .lead__title {
        height: 88px;
        width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__title {
        padding-top: 48px;
    }
}