.cover__overlay {
    background-image: url(../../../images/cover-trains.jpg);
    display: flex;
    flex-direction: column;;
    align-items: center;
    text-decoration: none;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.cover__overlay:before {
    content: '';
    position: absolute;
    background: #2A2C2F;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cover__overlay:hover:before {
    opacity: 0.8;
}

